* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f7f5;
    color: #17221b;
}


/* Header */

.header {
    background-color: #123524;
    padding: 20px;
    text-align: center;
}

.header h1 {
    color: white;
    margin-bottom: 15px;
}

.nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}

.nav a:hover {
    text-decoration: underline;
}

/* Game introduction */

.game-intro {
    text-align: center;
    padding: 70px 20px;
    background-color: #dcefe2;
}

.game-intro h2 {
    font-size: 40px;
    margin-bottom: 20px;
}

.game-intro p {
    max-width: 750px;
    margin: auto;
    font-size: 18px;
    line-height: 1.6;
}


/* Cricket formats */

.formats {
    padding: 50px 20px;
    text-align: center;
}

.formats h2 {
    font-size: 32px;
    margin-bottom: 30px;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 25px;
    flex-wrap: wrap;
}

.card {
    background-color: white;
    width: 280px;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.card h3 {
    margin-bottom: 15px;
}

.card p {
    line-height: 1.6;
}


/* Basic rules */

.basic-rules {
    padding: 50px 20px;
    text-align: center;
}

.basic-rules h2 {
    font-size: 32px;
    margin-bottom: 30px;
}

.rule {
    max-width: 700px;
    margin: 15px auto;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
}

.rule h3 {
    margin-bottom: 10px;
}


/* Footer */

.footer {
    background-color: #123524;
    color: white;
    text-align: center;
    padding: 20px;
}
.players-intro {
    text-align: center;
    padding: 45px 20px 25px;
}

.players-intro h2 {
    font-size: 40px;
    margin-bottom: 15px;
}

.players-intro p {
    max-width: 750px;
    margin: auto;
    font-size: 18px;
    line-height: 1.6;
}

.players-container {
    display: flex;
    justify-content: center;
    gap: 25px;
    padding: 30px;
    flex-wrap: wrap;
}

.player-card {
    width: 280px;
    padding: 25px;
    background-color: white;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    text-align: center;
}

.player-card h2 {
    font-size: 25px;
    margin-bottom: 8px;
}

.player-card h3 {
    margin-bottom: 15px;
}

.player-card p {
    font-size: 16px;
    line-height: 1.6;
}

.sources {
    text-align: center;
    padding: 25px;
    margin-top: 20px;
}

.sources h3 {
    font-size: 22px;
}